:root {
  --blue-ocean: #137c8b; /* Bleu profond, vibrant */
  --blue-fog: #709ca7; /* Bleu-gris doux */
  --blue-ice: #b8cbd0; /* Bleu très clair, presque givré */
  --blue-stone: #7a90a4; /* Bleu-gris moyen, pierreux */
  --blue-night: #344d59; /* Bleu foncé, tirant sur le noir */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}