.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 1.6rem;
  background: #fcf6fa;
  border-bottom: 1px solid #dde2e7;
}

.navbar-logo {
  font-size: 1.3rem;
  font-weight: bold;
  color: #2962ff;
}
